@import '../../../_variables.scss';
// body {
//     overflow-x: hidden;
//     border-radius: 15px;
//     text-align: center;
// }
.title {
    background-color: white;
    padding-top: 200px;
}
.background {
    width: 100vw;
}
.about {
    text-align: center !important;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    padding: 0.01em 16px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    .content {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}
.place-list {
    text-align: center !important;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    .place-item {
        background-color: white;
        float: left;
        width: 33vw;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
.searchEngine {
    display: flex;
    flex-direction: column;
    background-color: beige;
    .result-table {
        position: relative;
        padding: 1.5rem;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background: $whiteColor;
        margin-left: 1.5rem;
        height: 72vh;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: rgb(20, 5, 73);
            .title {
                font-size: 1rem;
                font-weight: 500;
            }
        }
        .bottom {
            .table-list {
                margin-top: 20px;
                border-collapse: collapse;
                width: 100%;
                border-left: 1px solid $greyText;
                border-right: 1px solid $greyText;
                .header-table {
                    background: rgb(227, 227, 227);
                    th {
                        text-align: start;
                        padding: 0.5rem 0.5rem;
                        font-size: 13px;
                    }
                }
                .body-table {
                    background: $whiteColor;
                    th {
                        text-align: start;
                        padding: 0.5rem 0.5rem;
                        font-size: 13px;
                        font-weight: 400;
                        border-bottom: 1px solid $greyText;
                    }
                }
            }
            .warning {
                display: flex;
                margin-top: 100px;
                font-weight: 300;
                font-size: 1rem;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.searchEngine > h1 {
    margin: auto;
}

.searchEngine > form {
    margin: auto;
}

.searchInput {
    margin: 16px;
    flex-direction: row;
}

.orderForm {
    width: 80%;
    flex-direction: column;
    padding-top: 8px;
}

.orderForm label {
    margin: auto;
}
.orderForm input {
    width: 60%;
    height: 80px;
    border-radius: 15px;
}

.orderForm button {
    width: 10%;
    height: 55px;
    margin-top: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
.contact {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 20px;
    background-color: #f1f1f1;
    .infor {
        padding: 32px;
        .user-icon {
            width: 1.3rem;
            height: 1.3rem;
            color: $blackColor;
        }

        li {
            display: flex;
            align-items: center;
        }
    }
}
.infor-icon {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    float: left;
    width: 25vw;
    background-color: wheat;
}
