@import '../../../_variables.scss';
.title {
    background-color: white;
    padding-top: 32px;
    padding-left: 50px;
}
.background {
    width: 100vw;
}


.place-list {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    .place-item {
        background-color: white;
        float: left;
        width: 33vw;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
.searchEngine {
    display: flex;
    background: wheat;
    flex-direction: column;
    padding: 30px 0;
    margin-bottom: 70px;
    margin-top: -10px;
    .result-table {
        position: relative;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background: $whiteColor;
        margin-left: 1.5rem;
        height: 72vh;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: black;
            .title {
                font-size: 1rem;
                font-weight: 500;
            }
        }
        .bottom {
            .table-list {
                margin-top: 20px;
                border-collapse: collapse;
                width: 100%;
                border-left: 1px solid $greyText;
                border-right: 1px solid $greyText;
                .header-table {
                    background: rgb(227, 227, 227);
                    th {
                        text-align: start;
                        padding: 0.5rem 0.5rem;
                        font-size: 13px;
                    }
                }
                .body-table {
                    background: $whiteColor;
                    th {
                        text-align: start;
                        padding: 0.5rem 0.5rem;
                        font-size: 13px;
                        font-weight: 400;
                        border-bottom: 1px solid $greyText;
                    }
                }
            }
            .warning {
                display: flex;
                margin-top: 100px;
                font-weight: 300;
                font-size: 1rem;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .oderForm {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 50px;
        h1 {
            margin-bottom: 10px;
        }
        input {
            width: 50vw;
        }
        button {
            color: hsl(0, 0%, 100%);
            width: 15vw;
            background: #0072bc;
        }
        .searchbar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .searchInput {
                height: 40px;
                font-size: 20px;
            }
        }
    }
    .icon-map {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .iconic {
            margin-left: 20px;
        }
    }
}

.contact {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 20px;
    background-color: #f1f1f1;
    .infor {
        padding: 32px;
        .user-icon {
            width: 1.3rem;
            height: 1.3rem;
            color: $blackColor;
        }

        li {
            display: flex;
            align-items: center;
        }
    }
}
.ctd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .about {
        width: 40vw;
        margin-left: 50px;
        font-size: 20px;
    }
    .image-icon {
        display: grid;
        background: white;
        grid-template-columns: repeat(2 , 1fr);
        grid-gap: 20px;
        position: relative;

    }
}

.infor-icon {
    padding: 20px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 15vw;
}