body {
    overflow-x: hidden;
}
.background {
    width: 100vw;
}
.about {
    text-align: center! important;
    padding-top: 64px! important;
    padding-bottom: 64px! important;
    padding: 0.01em 16px;
    width: 800px;
    margin-left: auto;
     margin-right: auto;
    .content {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        
    }
}
.place-list {
    text-align: center! important;
    margin-left: auto;
    margin-right: auto;
    .place-item {
        float: left;
        width: 33vw;
        padding-top: 32px;
    }
}
.searchEngine {
    display: flex;
    flex-direction: column;
}

.searchEngine > h1 {
    margin: auto;
}

.searchEngine > form {
    margin: auto;
}

.searchInput {
    margin-right: 10px;
}

.orderForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

.orderForm label {
    margin: auto;
}
.orderForm input {
    width: 100%;
    height: 80px;
    border-radius: 15px;
}

.orderForm p {
    margin-top: 10px;
}

.orderForm button {
    width: 100%;
    height: 55px;
    margin-top: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
.contact {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 20px;
    .infor-icon {
        float: left;
        width: 12vw;
    }
    .infor {
        padding: 0 32px;
    }
    
}