@import '../../variables';
.layout {
    display: flex;
    flex-direction: column;
    .container {
        flex: 1;
        height: 100%;
        display: flex;
        margin-top: $header-height;
        width: 100%;

        .content {
            //padding: 1.8rem 0 0 1.5rem;
            margin-left: $sidebar-width;
            flex: 1;
            height: 100%;
            background: $contentColor;
        }
    }
}
