@import '../../../../variables';

@mixin header-table {
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .icon-header {
        margin-left: 0.5rem;
        width: 1.2rem;
        height: 1.2rem;
        color: $primaryColor;
    }
    .title-header {
        font-size: 14px;
        font-weight: 500;
        color: $primaryColor;
        margin-left: 0.5rem;
    }
}

@mixin inforSectionCss {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5rem 0.5rem 0.5rem;
    .infor-section {
        margin-left: 0.25rem;
        flex: 1;
        .title {
            color: $primaryColor;
            font-size: 14px;
            font-weight: 500;
        }

        .title-infor {
            margin-top: 1rem;
            &-header {
                color: $blackColor;
                font-size: 14px;
                font-weight: 500;
            }

            &-main {
                margin-left: 0.8rem;
                font-size: 14px;
            }
        }
    }
}

.modal-details {
    position: absolute;
    top: -3rem;
    left: 0;
    bottom: 0;
    z-index: 1000;
    .modal-background {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;

        .modal-container {
            margin-top: 1rem;
            width: 45%;
            height: 80%;
            background: $whiteColor;
            border-radius: 5px;
            display: flex;
            flex-direction: column;

            .modal-header {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                height: 2rem;
                width: 100%;
                background: $secondaryColor;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: $whiteColor;
                font-size: 15px;
                font-weight: 500;
            }

            .modal-body {
                padding: 1rem 1rem;
                .infor-client {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    &-header {
                        @include header-table;
                    }

                    &-main {
                        @include inforSectionCss;
                    }
                }

                .infor-transportation {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    &-header {
                        @include header-table;
                    }

                    &-main {
                        margin-top: -1rem;
                        @include inforSectionCss;
                    }
                }

                .infor-fee {
                    margin-top: 0.6rem;
                    border-radius: 3px;
                    &-header {
                        @include header-table;
                    }

                    &-main {
                        margin-top: -1rem;
                        @include inforSectionCss;
                    }
                }
            }

            .modal-footer {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-self: center;
                .button-green {
                    margin-right: 0.5rem;
                    padding: 0.25rem 0.5rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background: rgb(10, 130, 60);
                    border-radius: 2px;
                    .icon {
                        height: 1.4rem;
                        color: $whiteColor;
                        margin-right: 0.5rem;
                    }
                    span {
                        font-size: 13px;
                        font-weight: 500;
                        color: $whiteColor;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }

                .button-red {
                    margin-right: 1rem;
                    padding: 0.25rem 0.5rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background: rgb(222, 46, 46);
                    border-radius: 2px;
                    .icon {
                        height: 1.3rem;
                        color: $whiteColor;
                        margin-right: 0.5rem;
                    }
                    span {
                        font-size: 12px;
                        font-weight: 500;
                        color: $whiteColor;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
