@import '../../../../variables';
.delivery-details {
    padding-left: 0.5rem;
    &-header {
        &-title {
            .title {
                font-size: 14px;
                font-weight: 500;
            }

            .subtitle {
                margin-left: 0.5rem;
                font-size: 14px;
                font-weight: 500;
                color: $primaryColor;
            }
        }

        &-button {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .btn-infor {
                height: 2rem;
                width: 12rem;
                border: none;
                font-size: 14px;
                font-weight: 500;
                color: $greyText;
                border-bottom: 1px solid $greyText;
                background: $whiteColor;
                padding-bottom: 0.5rem;

                &:hover {
                    cursor: pointer;
                }
            }

            .infor-button {
                border-color: $primaryColor;
                color: $primaryColor;
            }

            .comment-button {
                flex: 1;
                color: $blackColor;
            }
        }
    }

    &-main {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        .delivery-details-infor {
            flex: 6;
        }
        .delivery-details-comment {
            flex: 4;
        }
    }
}

@mixin header-table {
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 3px solid $secondaryColor;
    .icon-header {
        margin-left: 0.5rem;
        width: 1.2rem;
        height: 1.2rem;
        color: $primaryColor;
    }
    .title-header {
        font-size: 14px;
        font-weight: 500;
        color: $primaryColor;
        margin-left: 0.5rem;
    }
}

@mixin inforSectionCss {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5rem 0.5rem 1rem;
    .infor-section {
        margin-left: 0.25rem;
        flex: 1;
        .title {
            color: $primaryColor;
            font-size: 14px;
            font-weight: 500;
        }

        .title-infor {
            margin-top: 1rem;
            &-header {
                color: $blackColor;
                font-size: 14px;
                font-weight: 500;
            }

            &-main {
                margin-left: 0.8rem;
                font-size: 14px;
            }
        }
    }
}

.delivery-infor-details {
    .infor-client {
        border: 3px solid $secondaryColor;
        border-radius: 3px;
        &-header {
            @include header-table;
        }

        &-main {
            @include inforSectionCss;
        }
    }

    .infor-transportation {
        margin-top: 0.6rem;
        border: 3px solid $secondaryColor;
        border-radius: 3px;
        &-header {
            @include header-table;
        }

        &-main {
            @include inforSectionCss;
        }
    }

    .infor-fee {
        margin-top: 0.6rem;
        border: 3px solid $secondaryColor;
        border-radius: 3px;
        &-header {
            @include header-table;
        }

        &-main {
            @include inforSectionCss;
        }
    }
}

.delivery-comment {
    margin-left: 1rem;
    &-content {
        border: 3px solid $secondaryColor;
        border-radius: 3px;
        &-header {
            @include header-table;
        }
        &-main {
            height: 5rem;
        }
    }
}
