@import '../../../../variables';
.sideBar {
    position: fixed;
    width: $sidebar-width;
    height: 100%;
    background: $whiteColor;
    box-shadow: 0px 2px 1px rgb(0 0 0 / 12%);
    border-right: 1px solid rgb(230, 230, 230);

    .sidebar_label {
        display: inline-block;
        margin-top: 0.8rem;
        margin-left: 0.5rem;
        font-size: 15px;
        font-weight: 500;
        color: $sidebarLabelColor;
    }

    .sidebar-list {
        margin-top: 1rem;
        width: 100%;

        .sidebar-item {
            padding-left: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 2.9rem;

            .sidebar_title {
                display: inline-block;
                height: 1.3rem;
                margin-left: 1.2rem;
                color: $textLogo;
                font-size: 14px;
                font-weight: 500;
            }

            .sidebar_title:active {
                color: $primaryColor;
            }

            .sidebar-icon {
                width: 1.3rem;
                height: 1.3rem;
                color: $blackColor;
            }

            .sidebar-icon-updown {
                margin-left: 4.6rem;
                width: 1rem;
                height: 1rem;
                color: $blackColor;
            }
        }

        .sidebar-item:hover {
            background: $contentColor;
        }

        .sidebar-item.action {
            background: $contentColor;
        }

        .sidebar-sublist {
            width: 100%;
            display: none;
        }

        .sidebar-sublist.display {
            display: inline-block;
        }

        .sidebar-sublist.display li :hover {
            background: rgb(230, 230, 230);
        }
    }

    .donhang-item {
        background: $contentColor;
        .subclass {
            color: $primaryColor !important;
        }

        .subtitle1.create-order,
        .subtitle2.manage-inventory,
        .subtitle3.manage-status {
            background-color: rgb(230, 230, 230);
            .sidebar-icon {
                color: $primaryColor !important;
            }
            .sidebar_title {
                color: $primaryColor !important;
            }
        }
    }
}
