@import '../../../variables';
.chart {
    width: 100%;
    .title {
        width: 100%;
        .content {
            margin-left: 40%;
            margin-top: 50px;
            transform: translateX(-30%);
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}
