@import '../../../variables';
.system-container {
    position: relative;
    .sectionSystem {
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background: $contentColor;
        padding: 1rem 1rem;

        .header-system {
            display: flex;
            flex-direction: column;
            &_title1 {
                font-size: 1.5rem;
                font-weight: 500;
            }

            .add-system {
                width: 8rem;
                margin: 0.5rem 0;
                color: white;
                font-size: 14px;
                font-weight: 500;
                padding: 0.5rem;
                border: none;
                border-radius: 2px;
                background: $secondaryColor;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                &:hover {
                    cursor: pointer;
                    background: $primaryColor;
                }
            }

            &_title2 {
                font-size: 1rem;
                font-weight: 500;
            }
        }

        .system-table {
            margin-top: 1rem;
            width: 100%;
        }
    }
}
